services:
  # Базы данных
  auth-db:
    image: postgres:16
    container_name: auth_db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_db"]
      interval: 10s
      timeout: 5s
      retries: 10

  # Keycloak
  keycloak:
    image: quay.io/keycloak/keycloak:25.0.1
    container_name: keycloak-innowise
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_URL: http://localhost:8090
    ports:
      - "8090:8080"
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/8080 || exit 1'"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s

  keycloak-db:
    image: postgres:16
    container_name: keycloak_db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak"]
      interval: 10s
      timeout: 5s
      retries: 10

  # Сервисы
  authentication-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: authentication-service
    ports:
      - "8081:8081"
    depends_on:
      auth-db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/auth_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      KEYCLOAK_SERVER_URL: http://keycloak:8080
      KEYCLOAK_REALM: authentication-service
      KEYCLOAK_CLIENT_ID: authentication-service-client
      KEYCLOAK_CLIENT_SECRET: authentication-service-secret
    networks:
      - backend-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8081/auth/login || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 90s

  

volumes:
  auth_db_data:
  user_db_data:
  keycloak_db_data:

networks:
  backend-network:
    external: true
