services:
  # Базы данных
  auth-db:
    image: postgres:16
    container_name: auth_db
    env_file:
      - env/auth-db.env
    ports:
      - "5433:5432"
    volumes:
      - ./docker/init/auth-db:/docker-entrypoint-initdb.d
      - auth_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_db"]
      interval: 10s
      timeout: 5s
      retries: 10

#  # Keycloak container
  keycloak:
    image: quay.io/keycloak/keycloak:25.0.1
    container_name: keycloak-innowise
    command: start-dev
    env_file:
      - env/keycloak.env
    ports:
      - "8090:8080"
    depends_on:
      keycloak-db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/8080 || exit 1'"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s

  # ==========================
  # Keycloak (production mode) - not work now
  # ==========================
#  keycloak:
#    image: quay.io/keycloak/keycloak:25.0.1
#    container_name: keycloak-innowise
#    depends_on:
#      keycloak-db:
#        condition: service_healthy
#    env_file:
#      - env/keycloak.env
#    command:
#      - start
#      - --optimized
#      - --hostname-strict=false
#      - --http-enabled=true
#      - --spi-login-protocol-openid-connect-legacy-logout-redirect-uri=true
#    ports:
#      - "8090:8080"
#      - "9000:9000" # management port (опционально)
#    restart: unless-stopped
#    networks:
#      - backend-network
#    healthcheck:
#      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/8080' || exit 1"]
#      interval: 30s
#      timeout: 10s
#      retries: 10
#      start_period: 60s


  # Keycloak DB
  keycloak-db:
    image: postgres:16
    container_name: keycloak_db
    env_file:
      - env/keycloak-db.env
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak"]
      interval: 10s
      timeout: 5s
      retries: 10

  # Сервисы
  authentication-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: authentication-service
    env_file:
      - env/auth-service.env
    ports:
      - "8081:8081"
    depends_on:
      auth-db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    networks:
      - backend-network
    restart: unless-stopped
    healthcheck:
      #test: ["CMD-SHELL", "curl -f http://localhost:8081/auth/login || exit 1"]
      test: ["CMD-SHELL", "curl -f http://localhost:8081/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 90s

volumes:
  auth_db_data: 
  keycloak_db_data:

networks:
  backend-network:
    external: true
